In [2]:
import numpy as np
import pandas as pd
from orca_ml.preprocessin

In [3]:
data = pd.read_csv('./train.csv')

In [10]:
id_cols = ['id']

   id  loanAmnt  term  interestRate  installment grade subGrade  employmentTitle employmentLength  ...    n6    n7    n8   n9   n10  n11  n12  n13  n14
0   0   35000.0     5         19.52       917.97     E       E2            320.0          2 years  ...   8.0   4.0  12.0  2.0   7.0  0.0  0.0  0.0  2.0
1   1   18000.0     5         18.49       461.90     D       D2         219843.0          5 years  ...   NaN   NaN   NaN  NaN  13.0  NaN  NaN  NaN  NaN
2   2   12000.0     5         16.99       298.17     D       D3          31698.0          8 years  ...  21.0   4.0   5.0  3.0  11.0  0.0  0.0  0.0  4.0
3   3   11000.0     3          7.26       340.96     A       A4          46854.0        10+ years  ...   4.0   7.0  21.0  6.0   9.0  0.0  0.0  0.0  1.0
4   4    3000.0     3         12.99       101.07     C       C2             54.0              NaN  ...   9.0  10.0  15.0  7.0  12.0  0.0  0.0  0.0  4.0

[5 rows x 47 columns]

In [5]:
data.columns

Index(['id', 'loanAmnt', 'term', 'interestRate', 'installment', 'grade',
       'subGrade', 'employmentTitle', 'employmentLength', 'homeOwnership',
       'annualIncome', 'verificationStatus', 'issueDate', 'isDefault',
       'purpose', 'postCode', 'regionCode', 'dti', 'delinquency_2years',
       'ficoRangeLow', 'ficoRangeHigh', 'openAcc', 'pubRec',
       'pubRecBankruptcies', 'revolBal', 'revolUtil', 'totalAcc',
       'initialListStatus', 'applicationType', 'earliesCreditLine', 'title',
       'policyCode', 'n0', 'n1', 'n2', 'n3', 'n4', 'n5', 'n6', 'n7', 'n8',
       'n9', 'n10', 'n11', 'n12', 'n13', 'n14'],
      dtype='object')